<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade</title>
    <!--Styles-->
    <link rel="stylesheet" href="../src/styles/global.css">
    <link rel="stylesheet" href="../src/styles/common/header.css">
    <link rel="stylesheet" href="../src/styles/liuv.css">
    <link rel="stylesheet" href="../src/styles/termos-e-politicas/termos.css">
    <link rel="stylesheet" href="../src/styles/common/footer.css">
    <!-- Materialize -->
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
</head>
<body class="termos-liuv">

  <!-- Header Navegation -->
  <header class="liuv-header">
        <a href="/">
          <img src="../src/assets/logos/logo-grad.png" alt="Logo Liuv"/>
        </a>
        <nav class="nav" role="navigation">
          <a class="waves-effect waves-light btn modal-trigger left" href="#modalHeader">A Liuv</a>
          <a href="./restaurant.html" class="left">Para seu Restaurante</a>
          <a href="./client.html" class="left">Para você</a>
          <a href="./ajuda.html" class="left">Ajuda</a>
          <a href="./contato.html" class="left">Fale com a gente</a>
          <a href="https://www.liuv.com.br/blog" class="left" target="”_blank”">Blog</a>
        </nav>
        <!-- Modal Structure -->
        <div id="modalHeader" class="modal">
          <div class="modal-content about-liuv-modal">
            <p>A LIUV é uma startup criada para simplificar a maneira de fazer pedidos e de pagar a conta em bares e restaurantes, além de descomplicar os programas de fidelidade do dia-a-dia, utilizando o aplicativo, para construir uma relação mais próxima entre os estabelecimentos e seus clientes, transformando a experiência dos clientes mais prática e vantajosa. Tendo como objetivo de gerar informações valiosas para as empresas sobre o perfil dos seus clientes. Formada por quatro sócios, a LIUV tem como diferencial o foco na excelência, comprometimento com o sucesso dos nossos clientes e valorizando as relações pessoais.</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">X</a>
          </div>
        </div>
        <button type="button" class="login">Login</button>
        <!-- For Hamburguer Menu -->
        <div id="liuvSideNav" class="sidenav">
          <img src="../src/assets/logos/logo-grad.png" alt="Logo Liuv" />
          <a 
            href="javascript:void(0)" 
            class="closebtn" 
            onclick="closeNav()">
            &times;</a>
          <a href="./liuv.html" class="left">A Liuv</a>
          <a href="./client.html" class="left">Usuários</a>
          <a href="./restaurant.html" class="left">Como funciona</a>
          <a href="./ajuda.html" class="left">Ajuda</a>
          <a href="https://www.liuv.com.br/blog" class="left" target="”_blank”">Blog</a>
          <a href="./contato.html" class="left">Contato</a>
          <a href="/" class="left">Sair</a>
          <button>Eu quero</button>
        </div>
        <span class="hamburguer" onclick="openNav()">
          <img src="../src/assets/icons/menu.png" alt="Menu" />
        </span>
  </header>
  <hr class="header-line"/>

  <main>
    <div id="main">
      <div class="termos">
        <h1>Política de Privacidade LIUV</h1>
        <p class="terms-content">
          Esta Política de Privacidade trata das práticas de coleta, uso, armazenamento e tratamento de dados pessoais dos Usuários para o Site e Aplicativo da LIUV e utilização dos nossos serviços ("Serviços"). 
          <br/><br/>
          Ao utilizar os serviços da LIUV por meio de seu Site ou Aplicativo, o Usuário concorda com esta Política de Privacidade e com os termos e condições estabelecidos aqui, com relação a coleta, armazenamento e uso das informações pessoais fornecidas e suas atualizações, dados de tráfego, endereços IP, dentre outros.
          <br/><br/>
          Data de última atualização da Política de Privacidade: 30 de janeiro de 2017.
        </p>
        <ol>
          <a href="./politicas.html#coleta"><li>Coleta e armazenamento de dados e finalidades</li></a> 
          <a href="./politicas.html#exclusaoDados"><li>Exclusão de Dados</li></a> 
          <a href="./politicas.html#acessoInformacao"><li>Utilização e Acesso às Informações</li></a> 
          <a href="./politicas.html#direitoAInformacoes"><li>Direito de Acesso à Informação</li></a>
          <a href="./politicas.html#disposicaoPrivacidade"><li>Disposições Finais</li></a>
        </ol>
        <!-- Coleta e Armazenamento de Ddos e Finalidades -->
        <h2 id="coleta" >1. Coleta e armazenamento de dados e finalidades</h2>
            <p class="terms-content">
              Os dados dos Usuários são coletados mediante o cadastro deste no sistema da LIUV e também através de suas atividades no Site e no Aplicativo da LIUV, por meio da realização de pedidos aos estabelecimentos.
              <br/><br/>
              Todas as informações dos Usuários são coletadas pela LIUV por meios éticos e legais e armazenados de acordo com padrões rígidos de segurança e confidencialidade. 
              <br/><br/>
              A veracidade e exatidão dos dados pessoais fornecidos através do Site e do Aplicativo são garantidas pelo Usuário, que assume a integral responsabilidade no caso de os mesmos não serem exatos. 
              <br/><br/>
              A utilização do Site e do Aplicativo implica no consentimento do Usuário para coleta, armazenamento e uso das informações pessoais fornecidas e suas atualizações, dados de tráfego, endereços IP, dentre outros.
              <br/><br/>
              Os seguintes dados pessoais são coletados em nosso Site e Aplicativo: 
            </p>
            <p class="terms-itens">
              <br/>
              (i) nome do Usuário, endereço, data de nascimento, e endereço eletrônico; e
              <br/><br/>
              (ii)  informações financeiras necessárias para a realização de pagamentos, tais como nome e dados do seu cartão de crédito (número, instituição emissora e data de validade), ou detalhes da conta bancária (nome do titular da conta, número da conta, tipo de conta e instituição); e
              <br/>
           </p>
           <p class="terms-content">
            São coletados também endereço IP para determinar a localização geográfica do usuário.
            <br/><br/>
            O Usuário desde já autoriza a LIUV a armazenar todas as informações submetidas e os dados pessoais, como por exemplo endereço de e-mail, endereços de IP (Internet Protocol), informações de data e horário de acesso, dentre outras informações, incluindo dados financeiros, conforme disposto nesta Política de Privacidade. 
            <br/><br/>
            O Usuário também autoriza a LIUV a informar e/ou divulgar estes dados em caso de exigência legal ou para a devida realização dos serviços, podendo os dados ser compartilhados com os parceiros LIUV a seu exclusivo critério.
            <br/><br/>
            Podemos compartilhar dados pessoais, com fornecedores de serviços quer sejam nossos associados, parceiros, prestadores, dentre outros, para que estes possam executar funções em nosso nome. 
            <br/><br/>
            Além disso, poderemos compartilhar e/ou vender informações dos Usuários (incluindo informações cadastrais como e-mail, idade, gênero, preferências) e hábitos de consumos a terceiros, a fim de criar uma experiência individual e personalizada para ele em cada Estabelecimento, como propagandas e promoções personalizadas. Você pode não aceitar, mediante expresso comunicado à LIUV, por meio do e-mail contato@liuv.it.
            <br/><br/>
            Em caso de compartilhamento com terceiros, a LIUV exigirá a mesma garantia de privacidade, confidencialidade e segurança que são asseguradas em nossa Política de Privacidade. 
            <br/><br/>
            A LIUV poderá utilizar empresas de processamento e/ou de gestão online terceirizadas, assim como empresas para monitorar o tráfego do Site, que, em alguns casos, poderão armazenar e coletar informações e dados do Usuário.
            <br/><br/>
            O Site e o Aplicativo da LIUV poderão conter links para sites de terceiros. A LIUV não se responsabiliza, de nenhuma forma, pelo conteúdo, segurança, coleta, armazenamento ou exclusão das informações do Usuário quando acessar sites de terceiros. 
            <br/><br/>
            A LIUV também não assume nenhuma responsabilidade em caso de roubo, alteração ou uso indevido por terceiros de suas informações pessoais, inclusive na hipótese de informações fornecidas a prestadores de serviços terceirizados.
            <br/><br/>
            O Usuário poderá optar por não receber via e-mail determinadas mensagens, como newsletters, recomendações de ofertas no Site e no Aplicativo, dentre outras. 
            <br/><br/>
            Nós fazemos uso de cookies para gerar ao usuário uma experiência mais personalizada no nosso Site e Aplicativo. É possível ao Usuário optar por desativar todos os cookies, tendo porém impacto no funcionamento / experiência do Usuário na utilização do Site / Aplicativo.
            <br/><br/>
            A LIUV poderá também utilizar as informações e/ou dados fornecidos e/ou coletados pelo Usuário para, além do acima citado:
            <br/><br/>
          </p>
          <p class="terms-itens">
            (i) aplicar e garantir suas Políticas;
            <br/><br/>
            (ii) prestar serviços ao Usuário;
            <br/><br/>
            (iii) criar e administrar contas de Usuário; 
            <br/><br/>
            (iv) prestar suporte aos Usuários.
        </p>
        <p class="terms-content">
          A LIUV poderá bloquear o acesso ao Site e ao Aplicativo para Usuários alocados em determinados países, por motivos legais. 
        </p>
        <!-- Exclusão de Dados -->
        <h2 id="exclusaoDados" class="terms-titles">2. Exclusão de Dados</h2>
          <p class="terms-content">
            As informações são mantidas no sistema LIUV pelo tempo em que o Usuário permanecer cadastrado com seu perfil na LIUV, ou pelo tempo permitido pela legislação local aplicável. 
            <br/><br/>
            A LIUV excluirá definitivamente os dados do Usuário sem que qualquer ação seja necessária da sua parte, caso o armazenamento dos seus dados não seja mais necessário para a finalidade prosseguida, caso o armazenamento não seja mais permitido por qualquer fundamento legal, ou ainda, a requerimento deste, sendo certo que a LIUV sempre agirá conforme previsto na legislação aplicável e conforme os direitos à privacidade e à proteção de dados pessoais dos Usuários.
            <br/><br/>
            A LIUV reserva-se o direito de excluir o Usuário em caso de solicitação de exclusão de dados.  
          </p>
        <br/><br/>
        <!-- Utilização e Acesso à Informação -->
        <h2 id="acessoInformacao" class="terms-titles">3. Utilização e acesso às informações </h2>
          <p class="terms-content">
            Os dados pessoais dos Usuários são classificados por nós em (i) informações identificáveis pessoalmente ("PII") e informações não identificáveis pessoalmente ("Não PII").
            <br/><br/>
            As Informações Não PII são utilizadas para personalizar a experiência do Usuário e para distribuir a você propaganda dirigida e ofertas promocionais das empresas externas que são da mais alta relevância para o seu perfil demográfico, de forma que estes possam oferecer produtos e serviços que acreditamos serem de interesse e vantajosos para nossos Usuários.
            <br/><br/>
            Podemos usar algumas dessas informações para nossa própria análise e para fins de pesquisa junto aos nossos consultores e parceiros terceirizados.
            <br/><br/>
            Já as Informações PII coletadas são usadas durante o fornecimento do nosso serviço.
            <br/><br/>
            Podemos usar informações PII para enviar mensagens de e-mail e SMS com a finalidade de informá-lo sobre o status dos pedidos ou sobre quaisquer serviços.
            <br/><br/>
            Coletaremos também informações financeiras a fim de que seja possível realizar o pagamento pelos pedidos feitos por meio do sistema LIUV.
            <br/><br/>
            Ao realizar um pagamento ou envolver-se em qualquer outro tipo de atividade ou transação que utilize informações financeiras no Site ou no Aplicativo LIUV, o Usuário consente com o fornecimento de suas informações financeiras para fornecedores de serviços da LIUV e terceiros, caso seja necessário para a LIUV dar suporte e processar as atividades e transações do Usuário, assim como para o emissor de seu cartão de crédito e suas respectivas necessidades.
            <br/><br/>
            Entende-se como terceiros as empresas de cartão de crédito, empresas de processamento de dados e instituições bancárias usadas para processar e apoiar transações financeiras. 
            <br/><br/>
            Os usuários poderão solicitar informações a respeito dos nossos processadores terceirizados, mediante envio de e-mail para a LIUV. 
            <br/>
          </p>
        <!--Direito a Informação-->
        <h2 id="direitoAInformacoes" class="terms-titles">4. Direito de acesso à informação</h2>
        <p class="terms-content">
          O Usuário poderá entrar em contato com a LIUV caso deseje receber informações adicionais ou esclarecer dúvidas a respeita desta Política de Privacidade, mediante envio de e-mail para contato@liuv.it. 
        </p>
        <br/><br/>
        <!-- Disposições Finais -->
        <h2 id="disposicaoPrivacidade" class="terms-titles">5. Disposições Finais</h2>
          <p class="terms-content">
            Se qualquer tribunal de autoridade competente constatar que qualquer disposição desta Política de Privacidade (ou parte de qualquer disposição) é inválida, ilegal ou inexequível, que a disposição ou parte da disposição deve, na medida exigida, ser considerada como excluída, a validade e exequibilidade das outras disposições destes Termos não serão afetadas.
            <br/><br/>
            A tolerância quanto ao eventual descumprimento de quaisquer das disposições desta Política de Privacidade por qualquer Usuário não constituirá renúncia ao direito de exigir o cumprimento da obrigação, nem perdão, nem alteração do aqui previsto.
            <br/><br/>
            Esta Política de Privacidade constitui o integral e completo acordo entre as Partes, substituindo quaisquer estipulações anteriores.
            <br/><br/>
            A LIUV poderá, a seu exclusivo critério e a qualquer tempo, e sem necessidade de qualquer aviso prévio ou notificação aos Usuários ou terceiros, poderá: (i) suspender, cancelar ou interromper o acesso ao Site e/ou Aplicativo e (ii) remover, alterar e/ou atualizar no todo ou em parte o Site e/ou Aplicativo bem como seus respectivos conteúdos e/ou Termos de Uso e Política de Privacidade. Qualquer alteração e/ou atualização dos Termos de Uso e Política de Privacidade passará a vigorar a partir da data de sua publicação no Site e/ou Aplicativo e deverá ser integralmente observada pelos Usuários.
            <br/><br/>
            Esta Política de Privacidade é regida de acordo com a legislação brasileira. Quaisquer disputas ou controvérsias oriundas de quaisquer atos praticados no âmbito da utilização dos Sites e/ou Aplicativo LIUV pelos Usuários, inclusive com relação ao descumprimento dos Termos de Uso e Política de Privacidade, serão processadas na Comarca da Capital do Estado de São Paulo. 
          </p>
      </div>
    </div>
  </main>
  <hr />

  <!-- Footer -->
  <footer class="liuv-footer">
    <div class="downloads">
      <a href="/"
        ><img
          src="../src/assets/logos/logo-grad.png"
          class="logofooter"
          alt="LIUV Logo"
        />
      </a>
      <a href="/">
        <img
          src="../src/assets/icons/appe.png"
          class="apple-store"
          alt="Apple Store"
        />
      </a>
      <a href="/"
        ><img
          src="../src/assets/icons/pay.png"
          class="play-store"
          alt="Play Store"
      /></a>
    </div>
    <div class="footer-container">
      <div class="first-row">
        <div class="column">
          <a href="./restaurant.html"><h4>Sou Restaurante</h4></a> 
          <p>
            <a href="./solucoes.html"> Soluções </a><br />
            <a href="./solucoes.html#integracoes">Integrações PDV </a><br />
            <a href="./client.html#clientesbsb">Clientes</a><br />
          </p>
        </div>
        <div class="column">
          <a href="./client.html"><h4>Sou Cliente</h4></a> 
          <p>
           <a href="./client.html#restaurantes"> Onde encontrar a Liuv </a><br />
           <a href="./client.html#ondeEncontrar">Benefícios</a><br />
           <a href="./client.html#pagamentosAceitos">Pagamentos Aceitos</a> <br />
          </p>
        </div>
        <div class="column">
          <a href="./"></a> <h4>Sobre</h4>
          <p>
            <a href="./liuv.html"> Sobre </a><br />
          </p>
        </div>
        <div class="column">
          <h4>Login</h4>
          <p>
            <a href="/"> Login de restaurantes </a><br />
            <a href="/"> Login de usuários </a><br />
            <a href="/"> Contato </a><br />
          </p>
        </div>
        <div class="column">
          <h4>Ajuda</h4>
          <p>
            <a href="./ajuda.html"> Ajuda </a><br />
          </p>
        </div>
      </div>
      <hr />
      <div class="second-row">
        <div class="column">
          <h4>© 2020 LIUV SERVIÇOS TECNOLÓGICOS</h4>
          <p>
            CNPJ: 23.432.890/0001-06 <br/>
            Rua Jesuíno Arruda 797, CJ 72<br />
            Itaim Bibi, São Paulo - SP <br />
            Brasil <br />
          </p>
        </div>
        <div class="column">
          <div class="media-icons">
            <a href="#">
              <img src="../src/assets/icons/facebook.png" alt="Facebook" />
            </a>
            <a href="#">
              <img src="../src/assets/icons/instagram.png" alt="Instgram" />
            </a>
          </div>
        </div>
      </div>
      <hr />
      <div class="third-row">
        <div class="column">
          <a href="./termos.html"><span>Termos de Uso</span></a> 
          <a href="./politicas.html"><span>Política de Privacidade</span></a>
        </div> 
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="../src/scripts/hamburguer.js"></script>
  <script src="../src/scripts/modal.js"></script>
</body>
</html>