<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIUV | Restaurante</title>
    <link
      rel="shortcut icon"
      href="../src/assets/logos/faviconliuv.png"
      type="image/x-icon"
    />
    <!-- Sytles Sheets -->
    <link rel="stylesheet" href="../src/styles/global.css" />
    <link rel="stylesheet" href="../src/styles/common/header.css" />
    <link rel="stylesheet" href="../src/styles/liuv.css" />
    <link rel="stylesheet" href="../src/styles/common/about.css" />
    <link rel="stylesheet" href="../src/styles/restaurant/solutions.css" />
    <link rel="stylesheet" href="../src/styles/common/melhor.css" />
    <link rel="stylesheet" href="../src/styles/restaurant/integracoes.css" />
    <link rel="stylesheet" href="../src/styles/common/form.css" />
    <link rel="stylesheet" href="../src/styles/restaurant/modal-integra.css" />
    <link rel="stylesheet" href="../src/styles/solution/modal.css" />
    <link rel="stylesheet" href="../src/styles/common/pagamentos.css" />
    <link rel="stylesheet" href="../src/styles/common/parceiros.css" />
    <link rel="stylesheet" href="../src/styles/restaurant/simplifica.css" />
    <link rel="stylesheet" href="../src/styles/common/form.css" />
    <link rel="stylesheet" href="../src/styles/restaurant/carousel.css" />
    <link rel="stylesheet" href="../src/styles/common/footer.css" />
    <!-- Materialize -->
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
  </head>
  <body id="restaurant-body">
    <!-- Header Navegation -->
    <header class="liuv-header">
      <a href="/">
        <img src="../src/assets/logos/logo-grad.png" alt="Logo Liuv" />
      </a>
      <nav class="nav" role="navigation">
        <a
          class="modal-trigger left"
          href="#modalHeader"
          >A Liuv</a
        >
        <a href="./restaurant.html" class="left">Para seu Restaurante</a>
        <a href="./client.html" class="left">Para você</a>
        <a href="./ajuda.html" class="left">Ajuda</a>
        <a href="./contato.html" class="left">Fale com a gente</a>
        <a href="https://www.liuv.com.br/blog" class="left" target="”_blank”"
          >Blog</a
        >
      </nav>
      <button type="button" class="login">Login</button>
      <!-- Modal Structure -->
      <div id="modalHeader" class="modal">
        <a
          href="#!"
          class="modal-action modal-close waves-effect waves-green btn-flat"
          >&#10005;
        </a>
        <div class="modal-content about-liuv-modal">
          <p>
            A LIUV é uma startup criada para simplificar a maneira de fazer
            pedidos e de pagar a conta em bares e restaurantes, além de
            descomplicar os programas de fidelidade do dia-a-dia, utilizando o
            aplicativo, para construir uma relação mais próxima entre os
            estabelecimentos e seus clientes, transformando a experiência dos
            clientes mais prática e vantajosa. Tendo como objetivo de gerar
            informações valiosas para as empresas sobre o perfil dos seus
            clientes. Formada por quatro sócios, a LIUV tem como diferencial o
            foco na excelência, comprometimento com o sucesso dos nossos
            clientes e valorizando as relações pessoais.
          </p>
        </div>
      </div>
      <!-- For Hamburguer Menu -->
      <div id="liuvSideNav" class="sidenav">
        <img src="../src/assets/logos/logo-grad.png" alt="Logo Liuv" />
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
          &times;</a
        >
        <a
          class=" modal-trigger left"
          href="#modalHeader"
          >A Liuv</a
        >
        <a href="./restaurant.html" class="left">Para Restaurante</a>
        <a href="./client.html" class="left">Para você</a>
        <a href="./ajuda.html" class="left">Ajuda</a>
        <a href="./contato.html" class="left">Fale com a gente</a>
        <a href="https://www.liuv.com.br/blog" class="left" target="”_blank”"
          >Blog</a
        >
        <button>Contato</button>
      </div>
      <span class="hamburguer" onclick="openNav()">
        <img src="../src/assets/icons/menu.png" alt="Menu" />
      </span>
    </header>

    <main>
      <div id="main">
        <!-- First Section, ABOUT Liuv Restaurate -->
        <div class="about carousel-fixed-item">
          <div class="carousel carousel-slider center">
            <div class="carousel-item cardapio fade" href="#one!">
              <div class="about-content">
                <h1>Cardápio Digital</h1>
                <span
                  >A nova solução gratuita da
                  <a href="./solucoes.html">LIUV</a>
                </span>
                <button class="btn-solution">
                  <a href="./solucoes.html#cardapio">Saiba mais</a>
                </button>
              </div>
            </div>
            <div class="carousel-item b2b-2 fade" href="#two!">
              <div class="about-content">
                <span>
                  Cada restaurante tem um jeito de receber seus pagamentos, a
                  LIUV tem todos
                </span>
                <span class="subject">
                  Saiba mais sobre as opções de pagamento da LIUV
                </span>
                <button class="btn-solution">
                  <a href="./solucoes.html">Saiba mais</a>
                </button>
              </div>
            </div>
            <div class="carousel-item b2b-3 fade" href="#three!">
              <div class="about-content">
                <h1>Benefícios da LIUV</h1>
                <span>Sem fila, segurança com pedido e pagamento</span>
              </div>
            </div>
            <div class="carousel-item b2b-4 fade" href="#four!">
              <div class="about-content">
                <span>Integração com os principais sistemas de PDV</span>
                <button class="btn-solution">
                  <a href="./restaurant.html#integracoes">Saiba mais</a>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Solutions -->
        <div class="solutions">
          <div class="solution-types">
            <p>Entenda nossos fluxos</p>
            <h1>Soluções</h1>

            <div class="buttonsContainer">
              <button
                onclick="showCardapio()"
                class="buttonSolution active sheen"
              >
                Cardápio Digital
              </button>
              <button onclick="showComanda()" class="buttonSolution">
                Comanda
              </button>
              <button onclick="showPagamentoNaMesa()" class="buttonSolution">
                Pagamento na Mesa
              </button>
              <button onclick="showPre()" class="buttonSolution">
                Pré Pedido
              </button>
              <button onclick="showQRCode()" class="buttonSolution">
                QR Code
              </button>
              <button onclick="showDelivery()" class="buttonSolution">
                Delivery
              </button>
            </div>

            <div
              id="solutionCardapio"
              class="solutions-content"
              style="display: flex"
            >
              <div class="side-position">
                <div class="content">
                  <p>
                    A nova solução da Liuv torna o fluxo de pedido do seu
                    restaurante mais prático e mais seguro. Através do cardápio
                    digital da Liuv, seu cliente faz o pedido de forma simples,
                    sem baixar o app e fazer cadastros. Basta abrir a câmera do
                    smartphone, escanear o QR Code da mesa e fazer o pedido para
                    a atendente.
                  </p>
                  <a href="./solucoes.html#cardapio">Quero saber mais</a>
                </div>
                <div class="draw">
                  <img src="../src/assets/images/cardapio.png" alt="Cardapio" />
                </div>
              </div>
            </div>

            <div id="solutionComanda" class="solutions-content">
              <div class="side-position">
                <div class="content">
                  <p>
                    Atendemos estabelecimentos que trabalham com o fluxo de
                    comanda eletrônica. Possibilitamos que os clientes façam o
                    pagamento direto com o celular sem precisar ir até o caixa,
                    ou que levem uma maquininha de cartão até ele. Após o
                    pagamento o cliente entrega a comanda para um atendente ou
                    no local sinalizado.
                  </p>
                  <a href="./solucoes.html#comanda">Quero saber mais</a>
                </div>
                <div class="draw">
                  <img src="../src/assets/images/comanda.png" alt="Comanda" />
                </div>
              </div>
            </div>

            <div id="solutionDelivery" class="solutions-content">
              <div class="side-position">
                <div class="content">
                  <p>
                    Aumente sua renda, fidelize e ganhe clientes cadastrando seu
                    restaurante na sessão de Delivery da Liuv. Tenha um novo
                    canal de vendas para seu restaurante, com sua frota própria
                    de motoboys, sem taxas abusivas.
                  </p>
                  <a href="./solucoes.html#delivery">Quero saber mais</a>
                </div>
                <div class="draw">
                  <img src="../src/assets/images/delivery.png" alt="Delivery" />
                </div>
              </div>
            </div>

            <div id="solutionPagamentoNaMesa" class="solutions-content">
              <div class="side-position">
                <div class="content">
                  <p>
                    Com o fluxo Mesa da Liuv, seu cliente consegue pagar o
                    consumo total ou parcial da mesa. Por meio da integração da
                    Liuv com sistema de PDV do estabelecimento, as informações
                    de pagamento são sincronizadas, evitando a conferência da
                    conta a todo momento.
                  </p>
                  <a href="./solucoes.html#mesa">Quero saber mais</a>
                </div>
                <div class="draw">
                  <img
                    src="../src/assets/images/mesa.png"
                    alt="Pagamento Mesa"
                  />
                </div>
              </div>
            </div>

            <div id="solutionPre" class="solutions-content">
              <div class="side-position">
                <div class="content">
                  <p>
                    O fluxo pré pedido da Liuv torna mais ágil o ato de fazer o
                    pedido e a retirada porque possui integração com o sistema,
                    assim a equipe da interna do restaurante recebe o pedido e
                    assim que estiver pronto, é enviado um push notification
                    para o cliente retirar no local indicado. Evitando filas no
                    caixa e manuseio de fichas.
                  </p>
                  <a href="./solucoes.html#prepedido">Quero saber mais</a>
                </div>
                <div class="draw">
                  <img
                    src="../src/assets/images/prepedidosolucao.png"
                    alt="Pre Pedido"
                  />
                </div>
              </div>
            </div>

            <div id="solutionQRCode" class="solutions-content">
              <div class="side-position">
                <div class="content">
                  <p>
                    Alguns estabelecimentos possuem uso de fichas para retirada
                    do pedido. Com o fluxo QR Code da Liuv, o cliente pode fazer
                    o pedido sem ficar na fila do caixa e elimina o uso da
                    ficha. O aplicativo gera um qr codea após a compra e no
                    momento da retirada o cliente apresenta para a atendente que
                    faz a leitura do qr code e a entrega do pedido. Dessa forma,
                    o atendimento e a espera para retirada são rápidos.
                  </p>
                  <a href="./solucoes.html#qrcode">Quero saber mais</a>
                </div>
                <div class="draw">
                  <img src="../src/assets/images/solucoes.png" alt="QR Code" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Entenda porque LIUV é a melhor -->
        <div class="liuv-melhor">
          <div>
            <h2>Entenda porque LIUV é a melhor</h2>
          </div>
          <div class="cards-box">
            <ul
              class="collapsible cards programa-fidelidade"
              data-collapsible="accordion"
            >
              <li>
                <div class="collapsible-header">
                  <div class="module">
                    <img
                      src="../src/assets/icons/icon1.png"
                      alt="Programa Fidelidade"
                    />
                  </div>
                  <div class="melhor-content collapsible-header">
                    <h3>Programa Fidelidade</h3>
                    <p>
                      Tenha um programa em que seus clientes ganham créditos
                      exclusivos para gastar somente na sua loja.
                    </p>
                  </div>
                  <div class="icon"><i class="material-icons">add</i></div>
                </div>
                <div class="collapsible-body">
                  <span>
                    Customize seus programas de fidelidade de acordo com a sua
                    necessidade, esqueça aqueles cartõezinhos de papel. O
                    programa fidelidade da Liuv fica dentro do aplicativo e é
                    pontuado automaticamente após o pagamento.
                  </span>
                </div>
              </li>
            </ul>

            <!-- Promoções Exclusivas -->
            <ul
              class="collapsible cards promos-melhor"
              data-collapsible="accordion"
            >
              <li>
                <div class="collapsible-header">
                  <div class="module-second">
                    <img
                      src="../src/assets/icons/icon2.png"
                      alt="Promoções Exclusivas"
                    />
                  </div>
                  <div class="melhor-content collapsible-header">
                    <h3>Promoções Exclusivas</h3>
                    <p>
                      Envie promoções personalizadas e exclusivas para os
                      clientes que frequentam seu estabelecimento.
                    </p>
                  </div>
                  <div class="icon"><i class="material-icons">add</i></div>
                </div>
                <div class="collapsible-body">
                  <span>
                    Por meio da plataforma exclusiva de Gestão, você poderá
                    acompanhar o consumo de seus clientes e criar promoções
                    exclusivas de acordo com a sua necessidade.
                  </span>
                </div>
              </li>
            </ul>

            <!-- Maior Faturamento -->
            <ul
              class="collapsible cards faturamento-melhor"
              data-collapsible="accordion"
            >
              <li>
                <div class="collapsible-header">
                  <div class="module-third">
                    <img
                      src="../src/assets/icons/icon3.png"
                      alt="Maior Faturamento"
                    />
                  </div>
                  <div class="melhor-content collapsible-header">
                    <h3>Maior Faturamento</h3>
                    <p>
                      Aumente a rotatividade de pessoas, otimize a mão de obra e
                      envie promoções exclusivas para os usuários LIUV.
                    </p>
                  </div>
                  <div class="icon"><i class="material-icons">add</i></div>
                </div>
                <div class="collapsible-body">
                  <span>
                    Com a Liuv em seu estabelecimento você reduz o tempo de fila
                    para o pagamento do consumo e o tempo de espera para fazer o
                    pedido.
                  </span>
                </div>
              </li>
            </ul>

            <!-- Conheça seu Cliente -->
            <ul
              class="collapsible cards conheca-melhor"
              data-collapsible="accordion"
            >
              <li>
                <div class="collapsible-header">
                  <div class="module-fourth">
                    <img
                      src="../src/assets/icons/icon4.png"
                      alt="Maior Faturamento"
                    />
                  </div>
                  <div class="melhor-content collapsible-header">
                    <h3>Conheça seu Cliente</h3>
                    <p>
                      Saiba a frequência, consumo e a data de aniversário dos
                      seus clientes do seu restaurante. Envie promoções e
                      aumente o engajamento.
                    </p>
                  </div>
                  <div class="icon"><i class="material-icons">add</i></div>
                </div>
                <div class="collapsible-body">
                  <span>
                    A Liuv possui uma plataforma exclusiva de Gestão, onde
                    poderá acompanhar os relatórios de vendas, fazer gestão dos
                    produtos, entendendo o perfil de vendas e o comportamento de
                    consumo do seu cliente.
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Section Integracoes -->
        <div class="integracoes" id="integracoes">
          <div class="integra-container">
            <h2>Integrações</h2>
            <div class="sidepositionintegra">
              <div class="box-integracoes">
                <p>
                  Temos fácil integração com qualquer frente de caixa, fazemos
                  isso sem mudar o fluxo atual do restaurante.
                </p>
                <p>Se você for uma empresa de PDV e tem interesse na LIUV.</p>
                <a
                  class="waves-effect waves-light btn modal-trigger"
                  href="#modal2"
                  >Quero integrar</a
                >
              </div>
              <div class="organizer box-integracoes">
                <div class="carousel">
                  <a class="carousel-item" href="#Teknisa!">
                    <img
                      alt="Teknisa"
                      src="../src/assets/logos/integracoes/logo__teknisa.png"
                    />
                  </a>
                  <a class="carousel-item" href="#Aloha!">
                    <img
                      alt="Aloha"
                      src="../src/assets/logos/integracoes/logo_aloha.png"
                    />
                  </a>
                  <a class="carousel-item" href="#Altec!">
                    <img
                      alt="Altec"
                      src="../src/assets/logos/integracoes/logo_altec.png"
                    />
                  </a>
                  <a class="carousel-item" href="#Colibri!">
                    <img
                      alt="Colibri"
                      src="../src/assets/logos/integracoes/logo_colibri.png"
                    />
                  </a>
                  <a class="carousel-item" href="#Datamais!">
                    <img
                      alt="Datamais"
                      src="../src/assets/logos/integracoes/logo_datamais.png"
                    />
                  </a>
                  <a class="carousel-item" href="#Linx!">
                    <img
                      alt="Linx"
                      src="../src/assets/logos/integracoes/logo_linx.png"
                    />
                  </a>
                  <a class="carousel-item" href="#NCR!">
                    <img
                      alt="NCR"
                      src="../src/assets/logos/integracoes/logo_ncr.png"
                    />
                  </a>
                  <a class="carousel-item" href="#Pacnet!">
                    <img
                      alt="Pacnet"
                      src="../src/assets/logos/integracoes/logo_pacnet.png"
                    />
                  </a>
                  <a class="carousel-item" href="#EPOC!">
                    <img
                      alt="EPOC"
                      src="../src/assets/logos/integracoes/logoepoc.png"
                    />
                  </a>
                  <a class="carousel-item" href="#TOTVS!">
                    <img
                      alt="TOTVS"
                      src="../src/assets/logos/integracoes/totvs-logo.png"
                    />
                  </a>
                </div>
                <p>
                  Os principais fornecedores de PDV estão aproveitando a LIUV
                  para expandir suas ofertas.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Form Integração -->
        <div class="modal-integra">
          <div id="modal2" class="modal">
            <a
              href="#!"
              class="modal-action modal-close waves-effect waves-green btn-flat"
              >&#10005;
            </a>
            <div class="modal-content">
              <div class="modal-introduction">
                <h3>Quer saber mais?</h3>
                <p>Envie seus dados e entramos em contato com você.</p>
              </div>
              <form action="#" method="">
                <fieldset>
                  <!-- first line -->
                  <div class="field-group">
                    <div class="field">
                      <input
                        type="text"
                        placeholder="Nome do responsável"
                        required="required"
                        name="name"
                      />
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        placeholder="Telefone do responsável"
                        required="required"
                        name="tel"
                      />
                    </div>
                  </div>
                  <!-- second line -->
                  <div class="field-group">
                    <div class="field">
                      <input
                        type="text"
                        placeholder="E-mail do responsável"
                        required="required"
                        name="email"
                      />
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        placeholder="Sistema"
                        required="required"
                        name="system"
                      />
                    </div>
                  </div>
                  <!-- third line -->
                  <div class="field-group">
                    <div class="field">
                      <input
                        type="text"
                        placeholder="A API é pública?"
                        required="required"
                        name="API"
                      />
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        placeholder="Tipo de Integração (API REST, API SOAP)"
                        required="required"
                        name="integrate"
                      />
                    </div>
                  </div>
                  <!-- Attach -->
                  <div class="field-group">
                    <div class="field">
                      <div class="file-field">
                        <div class="btn">
                          <span>Anexar</span>
                          <input type="file" />
                        </div>
                        <div class="file-path-wrapper">
                          <input
                            class="file-path validate"
                            type="text"
                            placeholder="Documentação Pública ou PDF"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
              <div class="send-btn-modal">
                <button type="submit">Enviar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Section Pagamentos Aceitos -->
        <div class="pagamentos-aceitos">
          <h2>Pagamentos Aceitos</h2>
          <div class="meios-pagamentos">
            <div class="credito pagamentos">
              <h3>Crédito</h3>
              <p>
                Para utilizar a LIUV ao máximo, é ideal cadastrar seu cartão de
                crédito. Com ele, você faz pagamentos, que virão na sua conta.
              </p>
              <div class="cartoes">
                <img
                  class="visa"
                  src="../src/assets/icons/visa.svg"
                  alt="Visa"
                />
                <img
                  class="master"
                  src="../src/assets/icons/master.svg"
                  alt="Master Card"
                />
                <img class="elo" src="../src/assets/icons/elo.svg" alt="Elo" />
              </div>
            </div>
            <div class="vl"></div>
            <div class="voucher pagamentos">
              <h3>Voucher</h3>
              <p>
                Mas se você não tem cartão de crédito, tudo bem. Também é
                possível inserir seu vale-refeição na LIUV.
              </p>
              <div class="vales">
                <img
                  class="alelo"
                  src="../src/assets/icons/alelo.svg"
                  alt="Alelo"
                />
                <img
                  class="ticket"
                  src="../src/assets/icons/ticket-restaurante.png"
                  alt="Ticket Restaurante"
                />
                <img
                  class="sodexo"
                  src="../src/assets/icons/sodexo.png"
                  alt="Sodexo"
                />
                <img
                  class="vr"
                  src="../src/assets/icons/vr.png"
                  alt="VR Refeição"
                />
              </div>
            </div>
          </div>
          <hr />
        </div>

        <!-- Quem já tem a LIUV como parceira -->
        <div class="parceiros">
          <h2>Quem já tem a LIUV como parceira</h2>
          <div class="testemunials">
            <div class="primeiro-parceiro parceiro">
              <img
                src="../src/assets/images/primeiro-parceiro.jpg"
                alt="Cliente LIUV"
              />
              <p>
                Curabitur posuere nisi eget augue gravida, non fermentum neque
                pellentesque. Etiam eget tortor non urna tincidunt feugiat
                maximus non turpis. Proin nec felis et odio sodales aliquam a at
                neque. Praesent imperdiet odio eu ultrices mollis. Aenean augue
                neque, viverra non egestas vitae, efficitur sit amet turpis.
              </p>
              <span><b>Paula Albino, cliente da LIUV.</b></span>
            </div>
            <div class="segundo-parceiro parceiro">
              <img
                src="../src/assets/images/segundo-parceiro.jpg"
                alt="Cliente LIUV"
              />
              <p>
                Curabitur posuere nisi eget augue gravida, non fermentum neque
                pellentesque. Etiam eget tortor non urna tincidunt feugiat
                maximus non turpis. Proin nec felis et odio sodales aliquam a at
                neque. Praesent imperdiet odio eu ultrices mollis. Aenean augue
                neque, viverra non egestas vitae, efficitur sit amet turpis.
              </p>
              <span
                ><b
                  >Augusto Santos, proprietário Restaurante Villa Gusto.</b
                ></span
              >
            </div>
            <div class="terceiro-parceiro parceiro">
              <div class="segundo-parceiro">
                <img
                  src="../src/assets/images/terceiro-parceiro.jpg"
                  alt="Cliente LIUV"
                />
                <p>
                  Curabitur posuere nisi eget augue gravida, non fermentum neque
                  pellentesque. Etiam eget tortor non urna tincidunt feugiat
                  maximus non turpis. Proin nec felis et odio sodales aliquam a
                  at neque. Praesent imperdiet odio eu ultrices mollis. Aenean
                  augue neque, viverra non egestas vitae, efficitur sit amet
                  turpis.
                </p>
                <span><b>João Melo, cliente da LIUV.</b></span>
              </div>
            </div>
          </div>
        </div>

        <!-- LIUV video -->
        <div class="simplifica">
          <h2>A LIUV chegou para simplificar</h2>
          <p>Estudo de caso LIUV no Restaurante Villa Gusto</p>
          <!-- video -->
          <div class="caseStudy">
            <video controls>
              <source
                src="../src/assets/video/Liuv_Villa-Gusto.mp4"
                type="video/mp4"
              />
            </video>
          </div>
        </div>

        <!-- Form B2B e Solutions - same base -->
        <div class="solution-page">
          <h2>Pronto para inovar?</h2>
          <p>
            Veja como a LIUV permite que restaurantes, padarias, bares e baladas
            aumentam o faturamento, fidelizando o cliente e com ações exclusivas
            para seus clientes.
          </p>
          <br />
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1"
            >Entrar em contato</a
          >
        </div>

        <!-- Modal Structure -->
        <div class="form-b2b">
          <div id="modal1" class="modal">
            <a
              href="#!"
              class="modal-action modal-close waves-effect waves-green btn-flat"
              >&#10005;
            </a>
            <div class="modal-content">
              <div class="modal-introduction">
                <h3>Quer saber mais?</h3>
                <p>Envie seus dados e entramos em contato com você.</p>
              </div>

              <form action="#" method="">
                <fieldset>
                  <!-- first line -->
                  <div class="field-group">
                    <div class="field">
                      <input
                        type="text"
                        placeholder="Nome do Restaurante"
                        required="required"
                        name="restaurante"
                      />
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        placeholder="Endereço"
                        required="required"
                        name="address"
                      />
                    </div>
                  </div>
                  <!-- second line -->
                  <div class="field-group">
                    <div class="field">
                      <input
                        type="text"
                        placeholder="Nome do Responsável"
                        required="required"
                        name="nome"
                      />
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        placeholder="Sistema Emissor de Notas"
                        required="required"
                        name="note"
                      />
                    </div>
                  </div>
                  <!-- third line -->
                  <div class="field-group">
                    <div class="field">
                      <input
                        type="text"
                        placeholder="Telefone"
                        required="required"
                        name="tel"
                      />
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        placeholder="E-mail"
                        required="required"
                        name="email"
                      />
                    </div>
                  </div>
                  <div class="field-group">
                    <div class="field">
                      <select class="browser-default">
                        <option value="" disabled selected nome="sistema">
                          Produto de maior interesse
                        </option>
                        <option value="1">Cardápio Digital</option>
                        <option value="2">Fluxos de Pagamento</option>
                        <option value="3">Delivery</option>
                      </select>
                    </div>
                    <div class="field">
                      <textarea
                        placeholder="Observações"
                        id="observation"
                        type="text"
                        class="validate"
                      ></textarea>
                      <label for="observation" class="active"></label>
                    </div>
                  </div>
                </fieldset>
              </form>
              <div class="form-button">
                <button type="submit">Enviar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Carousel -->
        <div class="carousel carousel-footer" id="clientesbsb">
          <h2>Nossos Clientes</h2>
          <a class="carousel-item" href="http://barakah.net.br/">
            <img alt="Barakah" src="../src/assets/logos/barakah1.png" />
          </a>
          <a class="carousel-item" href="https://www.debetti.com.br/">
            <img alt="DeBetti" src="../src/assets/logos/debetti.png" />
          </a>
          <a class="carousel-item" href="#three!">
            <img alt="Juli" src="../src/assets/logos/juli.png" />
          </a>
          <a class="carousel-item" href="#four!">
            <img alt="Santo Gusto" src="../src/assets/logos/santogusto.png" />
          </a>
          <a class="carousel-item" href="#five!">
            <img alt="Pasta Grill" src="../src/assets/logos/pastagrill.png" />
          </a>
          <a class="carousel-item" href="https://www.sapore.com.br/">
            <img alt="Sapore" src="../src/assets/logos/sapore.png" />
          </a>
          <a class="carousel-item" href="http://terracopaulistano.com.br/">
            <img
              alt="Terraco Paulistano"
              src="../src/assets/logos/terracopaulistano.png"
            />
          </a>
          <a class="carousel-item" href="https://www.villagusto.com.br/">
            <img alt="Villa Gusto" src="../src/assets/logos/villagusto.png" />
          </a>
        </div>
      </div>
    </main>
    <hr />

    <!-- Footer -->
    <footer class="liuv-footer">
      <div class="downloads">
        <a href="/"
          ><img
            src="../src/assets/logos/logo-grad.png"
            class="logofooter"
            alt="LIUV Logo"
          />
        </a>
        <a href="/">
          <img
            src="../src/assets/icons/appe.png"
            class="apple-store"
            alt="Apple Store"
          />
        </a>
        <a href="/"
          ><img
            src="../src/assets/icons/pay.png"
            class="play-store"
            alt="Play Store"
        /></a>
      </div>
      <div class="footer-container">
        <div class="first-row">
          <div class="column">
            <a href="./restaurant.html"><h4>Sou Restaurante</h4></a>
            <p>
              <a href="./solucoes.html"> Soluções </a><br />
              <a href="./solucoes.html#integracoes">Integrações PDV </a><br />
              <a href="./client.html#clientesbsb">Clientes</a><br />
            </p>
          </div>
          <div class="column">
            <a href="./client.html"><h4>Sou Cliente</h4></a>
            <p>
              <a href="./client.html#restaurantes"> Onde encontrar a Liuv </a
              ><br />
              <a href="./client.html#ondeEncontrar">Benefícios</a><br />
              <a href="./client.html#pagamentosAceitos">Pagamentos Aceitos</a>
              <br />
            </p>
          </div>
          <div class="column">
            <a href="../index.html"><h4>A Liuv</h4></a>
            <p>
              <a
                class="waves-effect waves-light btn modal-trigger left"
                href="#modalHeader"
                >Sobre</a
              ><br />
            </p>
          </div>
          <div class="column">
            <h4>Login</h4>
          </div>
          <div class="column">
            <a href="./ajuda.html"><h4>Ajuda</h4></a>
          </div>
        </div>
        <hr />
        <div class="second-row">
          <div class="column">
            <h4>© 2020 LIUV SERVIÇOS TECNOLÓGICOS</h4>
            <p>
              CNPJ: 23.432.890/0001-06 <br />
              Rua Jesuíno Arruda 797, CJ 72<br />
              Itaim Bibi, São Paulo - SP <br />
              Brasil <br />
            </p>
          </div>
          <div class="column">
            <div class="media-icons">
              <a href="#">
                <img src="../src/assets/icons/facebook.png" alt="Facebook" />
              </a>
              <a href="#">
                <img src="../src/assets/icons/instagram.png" alt="Instgram" />
              </a>
            </div>
          </div>
        </div>
        <hr />
        <div class="third-row">
          <div class="column">
            <a href="./termos.html"><span>Termos de Uso</span></a>
            <a href="./politicas.html"><span>Política de Privacidade</span></a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="../src/scripts/hamburguer.js"></script>
    <script src="../src/scripts/carousel-restaurant.js"></script>
    <script src="../src/scripts/solutions.js"></script>
    <script src="../src/scripts/collapse.js"></script>
    <script src="../src/scripts/modal.js"></script>
    <script src="../src/scripts/form.js"></script>
  </body>
</html>
