/* Gallery Logos Restaurant */
main div.carousel .initialized {
  display: flex;
  justify-content: center;
  align-items: center;
}

main div.carousel {
  height: 250px !important;
}

main div.carousel-footer img {
  margin-top: 1rem;

  height: 15rem;
}

main div.carousel-footer h2{
  font-size: 2rem;
  color: var(--titles);
  display: flex;
  align-items: center;
  justify-content: center;
}