/* Gallery Logos Restaurant */
main div.carousel .initialized {
  display: flex;
  justify-content: center;
  align-items: center;
}

main div.carousel {
  height: 200px !important;
}

main div.carousel-footer img {
  margin-top: 4rem;
  margin-left: 2rem;
  height: 10rem;
  width: 70% !important;
}

main div.carousel-footer h2{
  font-size: 2rem;
  color: var(--titles);
  display: flex;
  align-items: center;
  justify-content: center;
}