#restaurant-body main div.integracoes{
  background-color: var(--white-darker);
  height: auto;
  padding: 0 2rem 0.4rem 2rem;
}

div.integracoes > div.integra-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  height: auto;
  margin-top: 2rem;
  max-width: 1400px;
}

div.integracoes h2 {
  font-size: 2.4rem;
  color: var(--titles);
  margin-bottom: 2rem;
}

div.integracoes div.box-integracoes > p {
  font-size: 1rem;
  color: var(--black);
  margin-bottom: 1rem;
}

div.integracoes div.box-integracoes > a {
  border: none;
  border-radius: 30px;
  background-color: var(--primary-color-pink);
  box-shadow: 2px 2px 1px var(--shadow);
  width: 13rem;
  height: 2.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1.4rem;
  margin-bottom: 1rem;

  font-size: 1.4rem;
  cursor: pointer;
  color: var(--white);
}

div.integracoes div.box-integracoes .btn {
  text-transform: none !important;
  line-height: 0.5rem;
  font-size: 1rem;
}

div.integracoes div.organizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 15rem;
}

div.integracoes div.organizer > .carousel > .carousel-item {
  height: 8em !important;
  margin-top: 1rem;
}

div.integracoes div.organizer p {
  font-size: 0.8rem;
  color: var(--black);
}

@media (min-width: 900px) {
  div.integracoes > div.integra-container{
    margin: 0 auto;
    max-width: 1440px;
    
    padding-left: 3%;
    padding-bottom: 1rem;
    justify-content: center;
  }
  div.integracoes div.sidepositionintegra{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }
  div.integracoes div.organizer {
    margin-top: -5rem;
    padding-left: 2rem;
  }
  div.integracoes div.organizer > .carousel > .carousel-item {
    margin-top: 0;
  }
}

@media (min-width: 1400px){
  div.integracoes > div.integra-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
}

/* Modal Integrações em Modal */ 