#restaurant-body main div.integracoes{
  background-color: var(--white-darker);
}

#restaurant-body main div.integracoes div.integra-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  height: auto;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  max-width: 1440px;
}

#restaurant-body main div.integracoes div.integra-container > h2 {
  font-size: 2.4rem;
  color: var(--titles);
  margin-top: 2rem;
}

#restaurant-body main div.integracoes div.integra-container div.sidepositionintegra{
  display: flex;
  flex-direction: column;
}

#restaurant-body main div.integracoes div.integra-container div.box-integracoes > p {
  font-size: 1rem;
  color: var(--black);
}

#restaurant-body main div.integracoes div.integra-container div.box-integracoes > a {
  border: none;
  border-radius: 30px;
  background-color: var(--primary-color-pink);
  box-shadow: 2px 2px 1px var(--shadow);
  width: 13rem;
  height: 2.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1.4rem;
  margin-bottom: 1rem;

  font-size: 1.4rem;
  cursor: pointer;
  color: var(--white);
}

#restaurant-body main div.integracoes div.integra-container  div.box-integracoes > a:hover {
  background-color: var(--pink-hover);
  transition: ease-in-out 300ms;
}

#restaurant-body main div.integracoes div.integra-container div.box-integracoes .btn {
  text-transform: none !important;
  line-height: 0.5rem;
  font-size: 1rem;
}

#restaurant-body main div.integracoes div.integra-container div.organizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  height: 15rem;
}

#restaurant-body main div.integracoes div.integra-container div.organizer > .carousel > .carousel-item {
  height: 8em !important;
  margin-top: 1rem;
}

#restaurant-body main div.integracoes div.integra-container div.organizer p {
  font-size: 0.8rem;
  color: var(--black);
}

/* Responsive */
@media (min-width: 900px) {
  #restaurant-body main div.integracoes div.integra-container div.sidepositionintegra{
    flex-direction: row;
    padding-left: 5.5%;
    padding-right: 5%;
  }
  #restaurant-body main div.integracoes div.integra-container > h2 {
    padding-left: 3%;
    max-width: 1440px;
    margin: 2rem auto;
  }
  #restaurant-body main div.integracoes div.integra-container div.box-integracoes{
    padding: 1.4rem;
  }
  #restaurant-body main div.integracoes div.integra-container div.organizer {
    margin-top: -3rem;
    padding-left: 2rem;
  }
  #restaurant-body main div.integracoes div.integra-container div.organizer > .carousel > .carousel-item {
    margin-top: 0;
  }
}

@media (min-width: 1470px){
  #restaurant-body main div.integracoes div.integra-container > h2 {
    padding-left: 4%;
  }
}