.solution-modal {
  background: linear-gradient(
    90deg,
    rgba(255, 107, 43, 0.9) 0%,
    rgba(238, 47, 83, 0.9) 100%
  );
  height: auto;
  width: auto;
}

.solution-modal .modal-content {
  height: auto;

  padding: 0 !important;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution-modal .modal-introduction{
  margin-left: 1rem;
  margin-right: 1rem;

  text-align: center;
}

@media(min-width: 300px){
  .solution-modal .modal-introduction{
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.solution-modal .modal-content > h3{
  font-size: 2rem;
}

.solution-modal .modal-content p {
  font-size: 1rem;
  margin-top: 1.6rem;
}

.solution-modal .modal .modal-footer {
  background: transparent;
  bottom: 0;
}

.solution-modal > a {
  color: white;

  float: right;
  margin-top: 0.6rem;
  margin-right: 0.6rem;

  background-color: rgba(231, 103, 130, 0.8267507686668417);
  border-radius: 50%;
  border: 1px solid rgba(235, 156, 123, 0.468207351299895);
  line-height: 2.3rem;
  padding: 2px 11px 0px 13px;
}

.solution-modal form fieldset {
  padding: 0;
  margin: 2rem;
  border: 0;
}

.solution-modal form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 4.2rem;
}

.solution-modal .field-group {
  display: flex;
  flex-direction: column;
}

.solution-modal form select, form textarea {
  font-family: "Bariol Regular";
  font-size: 1rem !important;
  width: 105%;
  background: linear-gradient(
    90deg,
    rgba(235, 156, 123, 0.468207351299895) 0%,
    rgba(231, 103, 130, 0.8267507686668417) 100%
  );
  border: none;
  border-radius: 9px;
}

.solution-modal form textarea{
  margin-top: 1.4rem;
  padding-top: 0.8rem;
}

.solution-modal form::placeholder {
  color: white !important;
}

.solution-modal form input[type="text"],
textarea,
select {
  border: none;
  border-radius: 9px;
  border-bottom: none;
  background: linear-gradient(
    90deg,
    rgba(235, 156, 123, 0.4) 0%,
    rgba(231, 103, 130, 0.5) 100%
  );
  padding-left: 10px;
}

.solution-modal form input[type="text"]:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.solution-modal button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: #2bbbad;
  height: 3rem;
  width: 10rem;

  margin: 2rem;
  float: bottom;
}

@media (min-width: 700px) {
  .solution-modal .fieldset{
    margin: 0;
  }
  .solution-modal form .field {
    padding-right: 1rem;
    padding-left: 1.6rem;
    margin: 0;
    width: 100%;
  }
  .solution-modal form select,
  .solution-modal form textarea{
    width: 105%;
  }
  .solution-modal form textarea{
    margin-top: 0;
  }
}