.form-b2b .modal {
  background: linear-gradient(
    90deg,
    rgba(255, 107, 43, 0.9) 0%,
    rgba(238, 47, 83, 0.9) 100%
  );
  height: auto;
}

.form-b2b .modal-content {
  height: auto;
}

.form-b2b .modal-introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.form-b2b .modal-content > h3 {
  font-size: 2.6rem;
}

.form-b2b .modal-content p {
  font-size: 1.4rem;
}

.form-b2b .modal .modal-footer {
  background: transparent;
  bottom: 0;
}

.form-b2b a {
  color: white;
  background-color: rgba(231, 103, 130, 0.8267507686668417);
  border-radius: 50%;
  border: 1px solid rgba(235, 156, 123, 0.468207351299895);
  line-height: 2.5rem;
  padding-right: 13px;
  padding-left: 13px;

  float: right;
  margin-top: 0.5rem;
  margin-right: 0.2rem;
}

/* Modal Form */
.form-b2b form fieldset {
  margin: 0;
  border: 0;
  margin-left: -0.9rem;
}
.form-b2b form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 4.2rem;
}

/*
  .form-b2b .modal .field-group {
    display: flex;
    flex-direction: column;
  }
  */

.form-b2b form select,
form textarea {
  font-family: "Bariol Regular";
  font-size: 1rem !important;
  border-radius: 5px;
  border-bottom: none;
  background: linear-gradient(
    90deg,
    rgba(235, 156, 123, 0.468207351299895) 0%,
    rgba(231, 103, 130, 0.8267507686668417) 100%
  );
  padding-left: 10px;
  margin: 0;
  color: white;
}

.form-b2b form textarea {
  padding-top: 0.8rem;
  width: 103%;
}

.form-b2b form::placeholder {
  color: white !important;
}

.form-b2b form input[type="text"],
textarea,
select {
  border: none;
  border-radius: 9px;
  border-bottom: none;
  background: linear-gradient(
    90deg,
    rgba(235, 156, 123, 0.4) 0%,
    rgba(231, 103, 130, 0.5) 100%
  );
  padding-left: 10px;
}

.form-b2b form input[type="text"]:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.form-b2b button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: #2bbbad;
  height: 3rem;
  width: 10rem;

  margin: 2rem;
  float: bottom;
}

.form-b2b .broweser-default,
form select {
  font-family: "Bariol Regular";
  font-size: 1rem !important;
  width: 103%;
  background-color: rgba(231, 103, 130, 0.8267507686668417);
  border: none;
  border-radius: 3px;
}

.form-b2b .form-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  /* #restaurant-body .modal-integra  .field-group {
      display: flex;
      flex-direction: row;
    } */
  .form-b2b button {
    width: 20rem;
  }
  .form-b2b a {
    margin-right: 0.4rem;
  }
  .form-b2b form .field {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* Sessões Formulário Solutions */
div.gestao{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
}
div.gestao  ul.atendimentos li:nth-child(1){
  margin-top: 2rem;
}
div.gestao h2{
  font-size: 2.4rem;
  margin-bottom: 0;
  color: var(--titles);
}
div.gestao p {
  color: var(--gray);
  font-size: 1.4rem;
  margin: 2rem;
}
div.gestao .gestao-box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
div.gestao .gestao-box img {
  height: 100%;
  width: 100%;
  max-width: 40rem;
}
div.gestao ul.gestao-list {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
div.gestao ul.gestao-list li{
  font-size: 1.2rem;
  list-style-type: disc;
  color: var(--shadow);
}

@media (min-width: 900px){
  div.gestao .gestao-box {
    flex-direction: row;
  }
  div.gestao ul.gestao-list {
    margin-top: 10%;
  }
}