#modalHeader {
    margin: 1rem auto;
    display: none;
    justify-content: center;
    background: linear-gradient(
        90deg,
        rgba(255, 107, 43, 0.9) 0%,
        rgba(238, 47, 83, 0.9) 100%
    );
    border-radius: 30px;
    max-width: 50rem;
}

#modalHeader .modal-footer, 
#modalHeader .modal-close{
    background: transparent;
    color: white;
}

#modalHeader .about-liuv-modal{
    width: 90%;
    margin: 2rem auto;
}

#modalHeader .about-liuv-modal p {
    font-size: 1.4rem;
    line-height: 1.8;
}

.liuv-header nav a.btn{
    background-color: transparent;
    box-shadow: none;
}
