main div.about > .carousel {
  height: 30rem !important;

  color: var(--white);
}

main div.about div.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 3rem;
  padding: 1rem;
}

main div.about div.about-content h1{
  font-size: 2.6rem;
  font-weight: lighter;
  font-weight: bolder;
}

main div.about div.about-content span{
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: lighter;
  letter-spacing: 0.9px;
}

main div.about div.about-content a {
  font-weight: 700;
}

main div.about div.about-content a{
  color: var(--primary-color-pink);
  font-size: 2rem;
}

main div.about div.carousel-item div.about-content button.btn-solution{
  color: white;
  border: none;
  border-radius: 30px;
  background-color: var(--green);
  width: 9rem;
  height: 2.4rem;

  margin-top: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

main div.about div.carousel-item div.about-content button.btn-solution a{
  color: white;
  font-size: 1rem;
  padding-top: 1px;
  font-weight: lighter;
}

main div.about .b2b-2 .btn-solution {
  margin-left: 1rem;
}

#restaurant-body main .cardapio{
  background-image: linear-gradient(
      90deg,
      rgba(255, 107, 43, 0.5) 0%,
      rgba(242, 44, 80, 0.5) 100%
    ),
    url("../../assets/images/B2B/B2B_carrosel_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#restaurant-body main .b2b-2{
  background-image:  linear-gradient(
    90deg,
    rgba(255, 107, 43, 0.6) 0%,
    rgba(242, 44, 80, 0.6) 100%
  ),
    url("../../assets/images/B2B/B2B_carrosel_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#restaurant-body main .b2b-2 span{
  padding: 0.8rem;
  font-size: 1.6rem;
}

#restaurant-body main .b2b-3{
  background-image:  linear-gradient(
    90deg,
    rgba(255, 107, 43, 0.6) 0%,
    rgba(242, 44, 80, 0.6) 100%
  ),
    url("../../assets/images/B2B/B2B_carrossel_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#restaurant-body main .b2b-4{
  background-image:  linear-gradient(
    90deg,
    rgba(255, 107, 43, 0.6) 0%,
    rgba(242, 44, 80, 0.6) 100%
  ),
    url("../../assets/images/B2B/B2B_carrossel_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#client-body main .b2c-1{
  background-image:  linear-gradient(
    90deg,
    rgba(255, 107, 43, 0.6) 0%,
    rgba(242, 44, 80, 0.6) 100%
  ),
    url("../../assets/images/B2C/B2C_carrossel_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#client-body main .b2c-2{
  background-image: linear-gradient(
      90deg,
      rgba(255, 107, 43, 0.5) 0%,
      rgba(242, 44, 80, 0.5) 100%
    ),
    url("../../assets/images/B2C/B2C_carrossel_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#client-body main .b2c-3{
  background-image:  linear-gradient(
    90deg,
    rgba(255, 107, 43, 0.6) 0%,
    rgba(242, 44, 80, 0.6) 100%
  ),
    url("../../assets/images/B2C/B2C_carrossel_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#client-body main .b2c-4{
  background-image:  linear-gradient(
    90deg,
    rgba(255, 107, 43, 0.6) 0%,
    rgba(242, 44, 80, 0.6) 100%
  ),
    url("../../assets/images/B2C/B2C_carrossel_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Responsive */
@media (min-width: 890px) {
  main div.about div.about-content  {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 40rem;

    margin-left: 7%;
  }
  main div.about div.about-content  > h1 {
    font-size: 2.6rem;
  }
  main div.about div.carousel-item div.about-content a.btn-solution{
    font-size: 1rem;
  }
}

@media (min-width: 1570px) {
  main div.about div.about-content {
    margin-left: 15%;
  }
}
